Design-with-AI-Flow-vers1.json
[{"id":"3e5ca5e4c0e0b463","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"0b49c43a85d205f5","type":"junction","z":"3e5ca5e4c0e0b463","x":920,"y":1100,"wires":[["059b38daa63c345d"]]},{"id":"81bba1bcc3afcf57","type":"junction","z":"3e5ca5e4c0e0b463","x":920,"y":820,"wires":[["b67cd3b48ca9eefb"]]},{"id":"2322e3ba0b90314c","type":"junction","z":"3e5ca5e4c0e0b463","x":940,"y":860,"wires":[["4ac1f98aa279f094"]]},{"id":"3dba802907280442","type":"aedes broker","z":"3e5ca5e4c0e0b463","name":"","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","persistence_bind":"memory","dburl":"","usetls":false,"x":1230,"y":580,"wires":[[],[]]},{"id":"9eb4a74f9545c562","type":"mqtt out","z":"3e5ca5e4c0e0b463","name":"","topic":"sscma/v0/sscma/v0/<deviceID>/tx/rx","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e04e4ce614fd40d0","x":810,"y":580,"wires":[]},{"id":"4b94f754b7c182ad","type":"mqtt in","z":"3e5ca5e4c0e0b463","name":"","topic":"sscma/v0/<deviceID>/tx","qos":"0","datatype":"auto-detect","broker":"e04e4ce614fd40d0","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":900,"wires":[["558a887df29107f6","894512967363e20d"]]},{"id":"740746fa9d8201ad","type":"inject","z":"3e5ca5e4c0e0b463","name":"Start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":580,"wires":[["f494ac8774f4b423"]]},{"id":"f494ac8774f4b423","type":"function","z":"3e5ca5e4c0e0b463","name":"msg.payload = \"AT+INVOKE=-1,0,0\\r\\n\";","func":"const deviceId = \"<deviceID>\";\nmsg.topic = `sscma/v0/${deviceId}/rx`;\nmsg.payload = \"AT+INVOKE=-1,0,0\\r\\n\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":580,"wires":[["9eb4a74f9545c562"]]},{"id":"05581a4737335a1e","type":"function","z":"3e5ca5e4c0e0b463","name":"msg.payload = \"AT+INVOKE=-0,0,0\\r\\n\";","func":"const deviceId = \"<deviceID>\";\nmsg.topic = `sscma/v0/${deviceId}/rx`;\nmsg.payload = \"AT+INVOKE=0,0,0\\r\\n\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":620,"wires":[["9eb4a74f9545c562"]]},{"id":"a0fdb3321d962612","type":"inject","z":"3e5ca5e4c0e0b463","name":"Stop","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":620,"wires":[["05581a4737335a1e"]]},{"id":"894512967363e20d","type":"switch","z":"3e5ca5e4c0e0b463","name":"","property":"payload.data.classes[0][1]","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":530,"y":900,"wires":[["df6d07545678a472","28836c4ad56b756e"],["d29247103ad40671","fa6bbcc31f779393"],["7db28e022ad92ff7","f12376c305a25a1c"],["0a0cfcab549a0155","28a809b878ecb258"]]},{"id":"059b38daa63c345d","type":"debug","z":"3e5ca5e4c0e0b463","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1040,"y":1100,"wires":[]},{"id":"df6d07545678a472","type":"change","z":"3e5ca5e4c0e0b463","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"what","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":820,"wires":[["0b49c43a85d205f5","81bba1bcc3afcf57"]]},{"id":"d29247103ad40671","type":"change","z":"3e5ca5e4c0e0b463","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"horn","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":900,"wires":[["0b49c43a85d205f5","81bba1bcc3afcf57"]]},{"id":"7db28e022ad92ff7","type":"change","z":"3e5ca5e4c0e0b463","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"nothing","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":980,"wires":[["0b49c43a85d205f5","81bba1bcc3afcf57"]]},{"id":"0a0cfcab549a0155","type":"change","z":"3e5ca5e4c0e0b463","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1060,"wires":[["0b49c43a85d205f5","81bba1bcc3afcf57"]]},{"id":"28836c4ad56b756e","type":"change","z":"3e5ca5e4c0e0b463","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":860,"wires":[["2322e3ba0b90314c"]]},{"id":"fa6bbcc31f779393","type":"change","z":"3e5ca5e4c0e0b463","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":940,"wires":[["2322e3ba0b90314c"]]},{"id":"f12376c305a25a1c","type":"change","z":"3e5ca5e4c0e0b463","name":"2","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1020,"wires":[["2322e3ba0b90314c"]]},{"id":"28a809b878ecb258","type":"change","z":"3e5ca5e4c0e0b463","name":"3","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1100,"wires":[["2322e3ba0b90314c"]]},{"id":"c5aec2c7bc37ff23","type":"udp out","z":"3e5ca5e4c0e0b463","name":"","addr":"localhost","iface":"","port":"10002","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1240,"y":840,"wires":[]},{"id":"4ac1f98aa279f094","type":"osc","z":"3e5ca5e4c0e0b463","name":"/sign","path":"/sign","metadata":false,"x":1030,"y":860,"wires":[["c5aec2c7bc37ff23"]]},{"id":"b67cd3b48ca9eefb","type":"osc","z":"3e5ca5e4c0e0b463","name":"/text","path":"/text","metadata":false,"x":1030,"y":820,"wires":[["c5aec2c7bc37ff23"]]},{"id":"af04d612a76250f1","type":"comment","z":"3e5ca5e4c0e0b463","name":"Classification","info":"","x":170,"y":780,"wires":[]},{"id":"0515d61a4b800de8","type":"comment","z":"3e5ca5e4c0e0b463","name":"Detection ","info":"TODO","x":500,"y":1200,"wires":[]},{"id":"558a887df29107f6","type":"debug","z":"3e5ca5e4c0e0b463","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data.classes","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":960,"wires":[]},{"id":"6292b47156994093","type":"comment","z":"3e5ca5e4c0e0b463","name":"receiving data from device","info":"","x":210,"y":820,"wires":[]},{"id":"4381e87db9d13dc6","type":"comment","z":"3e5ca5e4c0e0b463","name":"rename message","info":"","x":760,"y":760,"wires":[]},{"id":"632f0f5a4ae2c6db","type":"comment","z":"3e5ca5e4c0e0b463","name":"which class?","info":"","x":510,"y":820,"wires":[]},{"id":"662f45262293c3d4","type":"comment","z":"3e5ca5e4c0e0b463","name":"OSC ","info":"","x":1030,"y":760,"wires":[]},{"id":"3e9e9c0ff9334880","type":"comment","z":"3e5ca5e4c0e0b463","name":"UDP","info":"","x":1190,"y":760,"wires":[]},{"id":"8777372385439e5a","type":"comment","z":"3e5ca5e4c0e0b463","name":"trigger data from device: Start and Stop Communication","info":"","x":340,"y":540,"wires":[]},{"id":"c63b4e0a70c68382","type":"comment","z":"3e5ca5e4c0e0b463","name":"Our Broker","info":"","x":1200,"y":540,"wires":[]},{"id":"c18f3eae853c4303","type":"comment","z":"3e5ca5e4c0e0b463","name":"Design with AI Flow vers 0.1","info":"","x":620,"y":440,"wires":[]},{"id":"33b0d2cea9da95fa","type":"comment","z":"3e5ca5e4c0e0b463","name":"Important! insert your <deviceID> in the function node!","info":"","x":460,"y":660,"wires":[]},{"id":"f08793b640566c74","type":"comment","z":"3e5ca5e4c0e0b463","name":"Important! insert your <deviceID> in the topic ","info":"Look for it in your mqtt section in the \nSensecraft page ","x":270,"y":960,"wires":[]},{"id":"e04e4ce614fd40d0","type":"mqtt-broker","name":"","broker":"192.168.0.41","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]